@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 992px;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
main {
  flex: 1;
}
main > h1, .thumbnail-title {
  line-height: 1.2;
  /* font-family: 'Merriweather', serif; */
  background: -webkit-linear-gradient(315deg,#22d3ee 25%,#3b82f6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.thumbnail-title {
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
}
h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: white;
}
hr {
  border-color: #2196f3;
  width: 15%;
  margin: 2rem 0;
}
img[src="logo.png"] {
  position: absolute;
  left: -5px;
}
input, textarea, .mantine-MultiSelect-wrapper {
  margin-bottom: 8px;
}
pre[data-theme='default'] {
  background: #141517;
  border-radius: 8px;
  margin: 0 !important;
}
.line {
  padding: 0 22px;
}
.highlighted {
  background: #c8c8ff1a;
  border-left: 2px solid transparent;
  border-left-color: #60a5fa;
}
div[data-rehype-pretty-code-title] {
  padding: 6px 16px;
  background: #32323d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #C8D3F5;
  font-size: 0.8rem;
  font-family: monospace;
}
div[data-rehype-pretty-code-fragment] {
  margin-top: 16px;
}
div[data-rehype-pretty-code-title] + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

pre > code {
  display: grid;
  overflow-x: auto;
  padding: 16px 0;
}
code:not([data-theme]) {
  padding: 4px;
  border-radius: 4px;
  background-color: #141517;
  border: 1px solid #282828;
  color: #ff7777;
}
em {
  padding: 0 4px;
  color: #22d3ee;
}
.anchor {
  margin-right: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #909296 transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #909296;
  border-radius: 8px;
}


/* Mantine styles */
.mantine-Image-image {
  max-height: 80px;
}
li[data-tag="H3"] {
  margin-left: 24px;
}
li[data-tag="H3"]:hover a, li[data-tag="H2"]:hover a {
  text-decoration: underline;
  text-decoration-color: #1971c2;
}

/* Code Hike styles */
.ch-codeblock, .ch-codegroup {
  box-shadow: none !important;
}
.ch-code-scroll-parent {
  border: none !important;
  font-size: 0.8rem !important;
  padding: 0 !important;
  border-radius: 0 !important;
}